<?xml version="1.0" encoding="UTF-8"?>

   <!-- Meaning of all this -->
<!-- xmlns:prefix = url --> 
<!-- here the prefix is xsi which stands for XML schema Instance

http://www.w3.org/2001/XMLSchema-instance- This is a namespace 
used within XML Instance documents 
to provide additional data to the XML Parser that is processing it

 -->
<!-- xsi:schemaLocation provide hints to the XML processor as to how to associate an XSD with an XML document. -->

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
  


   <bean id = "helloMsg" class = "xmlBased.HelloMsg">	<!-- id msut be present in MainClassFirstCode.java -->
      <property name = "msg" value = "Hello World!"/>	<!-- name must be present in HelloMsg.java -->
   </bean>

</beans>